/* global.css */

/* Import Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Manrope-Regular.ttf');
}

/* Import Bold */
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('../fonts/Manrope-Bold.ttf');
}

/*Root style*/
.root {
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #212121;
    -fx-text-alignment: center;
}

/*Primary style*/
.haf-primary {
    -fx-background-color: #005EB8;
}

/*Secondary style*/
.haf-secondary {
    -fx-background-color: #0078D7;
}

/*Tertiary style*/
.haf-tertiary {
    -fx-background-color: #0091EA;
}

/* Card-like app window */
.window-card {
    -fx-background-color: #ebebeb;
    -fx-background-radius: 17;
    -fx-background-insets: 2;
    -fx-border-insets: 0;
    -fx-border-radius: 16;
    -fx-border-color: #989898;
    -fx-border-width: 3;

    /* soft drop shadow around the panel */
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.30), 10, 0, 0, 0);

}
