/* main.css */

.toolbar {
    -fx-background-color: #d9d9d9;
}

.nav-indicator {
    -fx-background-color: #007ABD;
    -fx-background-radius: 4px 4px 0px 0px;
}

.nav-item {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-cursor: hand;
}

.nav-item:hover {
    -fx-background-color: rgba(0, 0, 0, 0.06);
}

.nav-item-icon {
    -fx-icon-color: #2b2b2b;
}

.nav-item-icon-active {
    -fx-icon-color: #007ABD;

}

.search-field {
    -fx-background-color: #EDEDED;
    -fx-border-color: #A3A3A3;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 12px 45px 12px 15px;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #191a1c;
    -fx-min-height: 50px;
    -fx-effect: null;
    -fx-transition: -fx-border-color 0.5s ease;
}

.search-field:hover {
    -fx-border-color: #818181;
}

.search-field:focused {
    -fx-border-color: #0078d7;
}

.profile-popup-trigger {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.profile-popup-trigger:hover {
    -fx-background-color: rgba(0, 0, 0, 0.06);
}
