/* splash.css */

.window-card {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.20), 10, 0.2, 0, 0);
}

.progress-bar>.track {
    -fx-background-color: #dcdcdc;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
}

.progress-bar>.bar {
    -fx-background-color: linear-gradient(to bottom, #0078d7, #008acf);
    -fx-background-radius: 4;
    -fx-background-insets: 0;
}
