/* splash.css */

.window-card {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.20), 10px, 0.2, 0px, 0px);
}

.progress-bar>.track {
    -fx-background-color: #dcdcdc;
    -fx-background-radius: 4px;
    -fx-background-insets: 0px;
}

.progress-bar>.bar {
    -fx-background-color: linear-gradient(to bottom, #0078d7, #008acf);
    -fx-background-radius: 4px;
    -fx-background-insets: 0px;
}
